<!DOCTYPE html>
<html>
<head>
    <title>Login Page</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
 <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>



    <link rel="stylesheet" type="text/css" href="static/login.css">
</head>
<body>
        <header class="site-header clearfix">
                <nav>
                 <div class="logo">
                  <h1>Parentor</h1>
                 </div>
                 <div class="menu"> 
                  <ul>
                       <li><span class="glyphicon glyphicon-home"></span><a href="/">Home</a></li>
                       <li><span class="glyphicon glyphicon-user"></span><a href="#">Log in</a></li>
                       <li><span class="glyphicon glyphicon-user"></span><a href="/admin_reg">Sign up</a></li>
                       <li><a href="/about_us">About us</a></li>
                       
                  </ul>
                 </div>
                </nav>
    <div class="form">
    <p><h3>ADMIN LOGIN</h3></p>
    {% with messages = get_flashed_messages(with_categories=true) %}  
        {% if messages %}  
            {% for category, message in messages %}  
            <p class="alert alert-{{ category }}">{{ message }}</p>  
            {% endfor %}  
        {% endif %}  
    {% endwith %}  

    <form method="POST" action="">
        <input type="text" name="admin_id" placeholder="Registration ID">
        <input type="password" name="admin_password" placeholder="password">
        <input type="submit" value="Login" style="background-color:dodgerblue;">
        <p class="message">Not registered? <a href="/admin_reg">Register here</a></p>
    </form>
    </div>
   
</body>
</html>