<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sign Up</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
 <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


    <link rel="stylesheet" type="text/css" href="static/reg.css">
</head>
<body>
    <body>
        <header class="site-header clearfix">
                <nav>
                 <div class="logo">
                  <h1>Parentor</h1>
                 </div>
                 <div class="menu"> 
                  <ul>
                       <li><span class="glyphicon glyphicon-home"></span><a href="/">Home</a></li>
                       <li><span class="glyphicon glyphicon-user"></span><a href="/admin_login">Log in</a></li>
                       <li><span class="glyphicon glyphicon-user"></span><a href="#">Sign up</a></li>
                       <li><a href="/about_us">About us</a></li>
                       
                  </ul>
                 </div>
                </nav>
        <div class="wrapper">
            <div class="title">
               Admin Registration Form
            </div>
            {% with messages = get_flashed_messages(with_categories=true) %}  
                {% if messages %}  
                    {% for category, message in messages %}  
                        <p class="alert alert-{{ category }}">{{ message }}</p>  
                    {% endfor %}  
                {% endif %}  
            {% endwith %}  

        <div class="form">
            <form method="POST" action="">

                <div class="input_field">
                    <label>Registration ID </label>
                    <input type="text" name="admin_id" class="input" required>
                </div>

                
                 <div class="input_field">
                    <label>Name </label>
                    <input type="text" name="admin_name" class="input"  maxlength=30  required>
                 </div>

                 
                 <div class="input_field">
                    <label>Password </label>
                    <input type="password" name="admin_password" class="input" required>
                 </div>

                 <div class="input_field">
                    <label>Confirm Password </label>
                    <input type="password" name="c_password" class="input" required>
                 </div>



                <div class="input_field">    
                    <input type="submit" value="Register" class="btn">
                </div>
            </form>
        </div>

        </div>
</body>
</html>