<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Exams</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
 <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


    <link rel="stylesheet" type="text/css" href="static/reg.css">
    <style>
        th {
        background-color:indigo;
        color: white;
            }
    
    </style>
</head>
<body>
    
        <header class="site-header clearfix">
                <nav>
                 <div class="logo">
                  <h1>Parentor</h1>
                 </div>
                 <div class="menu"> 
                  <ul>
                       <li><a href="/profile">Student Profile</a></li>
                       <li><a href="/view_activity">Activities</a></li>
                       <li><a href="/logout">Logout</a></li>
                  </ul>
                 </div>
                </nav>
                <br>

       

        {% with messages = get_flashed_messages(with_categories=true) %}  
                {% if messages %}  
                    {% for category, message in messages %}  
                        <p class="alert alert-{{ category }}">{{ message }}</p>  
                    {% endfor %}  
                {% endif %}  
            {% endwith %}  

        
        <center><h1 style="color: yellow;"><b>EXAMS</b></h1></center><br>
        <table style="background-color: white;" class="table table-striped">
            <tr>
                <th>Exam ID</th>
                <th>Exam Name</th>
                <th>Exam Date</th>
                <th></th>
            </tr>
            {% for exam in exams %}
            <tr>
                <td>{{exam.id}}</td>
                <td>{{exam.e_name}}</td>
                <td>{{exam.exam_date}}</td>
                <td><a href="/result/{{exam.id}}" class="btn btn-primary">Result</a></td>
                
            </tr>
            {% endfor %}
        </table>
       
</body>
</html>