<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sign Up</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
 <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


    <link rel="stylesheet" type="text/css" href="static/reg.css">
</head>
<body>
    <body>
        <header class="site-header clearfix">
                <nav>
                 <div class="logo">
                  <h1>Parentor</h1>
                 </div>
                 <div class="menu"> 
                  <ul>
                       <li><span class="glyphicon glyphicon-home"></span><a href="/">Home</a></li>
                       <li><span class="glyphicon glyphicon-user"></span><a href="/tlogin">Log in</a></li>
                       <li><span class="glyphicon glyphicon-user"></span><a href="#">Sign up</a></li>
                      
                  </ul>
                 </div>
                </nav>
        <div class="wrapper">
            <div class="title">
                Registration Form
            </div>
            {% with messages = get_flashed_messages(with_categories=true) %}  
                {% if messages %}  
                    {% for category, message in messages %}  
                        <p class="alert alert-{{ category }}">{{ message }}</p>  
                    {% endfor %}  
                {% endif %}  
            {% endwith %}  

        <div class="form">
            <form method="POST" action="">

                <div class="input_field">
                    <label>Name </label>
                    <input type="text" name="t_name" class="input"  maxlength=20  required>
                </div>

                <div class="input_field">
                    <label>Phone No </label>
                    <input type="text" name="t_phone" maxlength="10" pattern="\d{10}" title="Please enter exactly 10 digits" class="input" required>
                 </div>

                 <div class="input_field">
                    <label>Address </label>
                    <textarea name="t_address" class="input" maxlength=50 required></textarea>
                 </div>

                 <div class="input_field">
                    <label>Type </label>
                    <label class="radio-inline"><input type="radio" name="t_type" value="class teacher">Class teacher</label>
                    <label class="radio-inline"><input type="radio" name="t_type" value="subject teacher">Subject teacher</label>
                 </div>

                 <div class="input_field">
                    <label for="sel3">Class </label>
                    <select class="form-control" name="t_class" id="sel3">
                        {% for class in classes %}
                            <option value="{{class.class_id}}">{{class.class_name}}</option>
                        {% endfor %}
                    </select>
                    
                 </div>

                 <div class="input_field">
                    <label for="sel2">Subject </label>
                    <select class="form-control" name="t_subject" id="sel2">
                        {% for subject in subjects %}
                            <option value="{{subject.sub_id}}">{{subject.sub_name}}</option>
                        {% endfor %}
                    </select>
                 </div>

                 <div class="input_field">
                    <label>Subject of Class </label>
                    <select class="form-control" name="t_class_sub1">
                        {% for class in classes %}
                            <option value="{{class.class_id}}">{{class.class_name}}</option>
                        {% endfor %}
                      </select>
            
                      <select class="form-control" name="t_class_sub2">
                        {% for class in classes %}
                        <option value="{{class.class_id}}">{{class.class_name}}</option>
                        {% endfor %}
                      </select>
                 </div>

                 <div class="input_field">
                    <label>Password </label>
                    <input type="password" name="t_password" class="input" required>
                 </div>



                 <div class="input_field">
                    <label>Confirm Password </label>
                    <input type="password" name="c_password" class="input" required>
                 </div>



                <div class="input_field">    
                    <input type="submit" value="Register" class="btn">
                </div>
            </form>
        </div>

        </div>
</body>
</html>